<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
      <div class="alert alert-danger">
        <div id="error_explanation">
          <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
  <% end %>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :Código %><br>
        <%= f.text_field :cod, :class => "form-control"  %>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :Nombre %><br>
        <%= f.text_field :name, :class => "form-control"  %>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :Apellido %><br>
        <%= f.text_field :last_name, :class => "form-control"  %>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :Dirección %><br>
        <%= f.text_field :address, :class => "form-control"  %>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :Dirección_laboral %><br>
        <%= f.text_field :job_address, :class => "form-control"  %>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :obs %><br>
        <%= f.text_field :obs, :class => "form-control"  %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", :class => "btn btn-primary" %>
  </div>
<% end %>
