<div class="page-header">
  <h2>Lista de clientes</h2>
</div>

<%= form_tag clients_path, :method => 'get' do %>
  <div class="row">
    <div class="form-group col-md-3">
      <%= text_field_tag :id, params[:id], :class => "form-control", :placeholder => "cédula o RUC..." %>
    </div>
    <div class="form-group col-md-3">
      <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "nombre o apellido..." %>
    </div>
    <div class="form-group col-md-3">
      <%= text_field_tag :obs, params[:obs], :class => "form-control", :placeholder => "descripción..." %>
    </div>
    <%= submit_tag "Buscar", :name => nil, :class => "btn btn-default" %>
    <%= link_to 'Nuevo cliente', new_client_path, :class => "btn btn-primary pull-right" %>
   </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Cédula o RUC</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Observación</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= number_with_delimiter(client.cod, delimiter: ".") %></td>
        <td><%= client.last_name %></td>
        <td><%= client.name %></td>
        <td><%= client.address %></td>
        <td><%= client.obs %></td>
        <td><%= link_to 'Más...', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products %>
