<%= form_for [@supplier, @salesman] do |f| %>
  <% if @salesman.errors.any? %>
  <div class="alert alert-danger">
    <div id="error_explanation">
      <h2><%= pluralize(@salesman.errors.count, "error") %> prohibited this salesman from being saved:</h2>

      <ul>
      <% @salesman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
          <%= f.label :Nombre %><br>
          <%= f.text_field :name, :class=>"form-control" %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :Teléfono %><br>
        <%= f.text_field :phone, :class=>"form-control" %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
           <%= f.hidden_field :supplier_id, :value => @supplier.id, :class=>"form-control" %>
        </div>
    </div>
  </div>  

  <%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>
